.mealImgBtn:hover {
  opacity: 0.7;
  /* border: 5px solid white; */
  box-shadow: 0px 0px 5px 3px white;

  transition: 0.3s;
}

.imgBtn:focus {
  opacity: 0.7;
  transition: 0.3s;
  transform: scale(0.9);
  color: rgb(240, 238, 238);
}

.mealImgBtn {
  transition: 0.3s;
  /* border: 5px solid rgba(97, 89, 89, 0.61); */
  box-shadow: 0px 0px 5px 1px black;
}

.imgBtn {
  transition: 0.3s;
  border: none;
  background-color: transparent;
}
